@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.head__covid {
  background-color: #233a95;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: #2bbef9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #2bbef9;
}

.allhead__head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  margin: auto;
  width: 77%;
  padding-top: 1rem;
}
.allhead__head__left {
  display: flex;
  width: 25%;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
.allhead__head__mid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.right1__span {
  color: #2bbef9;
}
.right1__span:hover {
  border-bottom: 1px solid #2bbef9;
}

.allhead__head__right2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 12rem;
}

.fa-chevron-down {
  margin-left: 5px;
}

.allhead__navbar {
  width: 77%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
.allhead__navbar__image img {
  width: 16.4rem;
}
.allhead__navbar__image p {
  font-family: "Inter", sans-serif;
  opacity: 0.8;
  font-size: 1.1rem;
}

.allhead__navbar__location {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;
  width: 18rem;
  border-color: #d9d9e9;
  padding: 1.8rem;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.allhead__navbar__location__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.allhead__navbar__location__left h1 {
  font-size: 1.28rem;
  color: #3e445a;
}
.allhead__navbar__location__left p {
  font-size: 1rem;
}
.allhead__navbar__location__right {
  padding: 10px 0;
}

.modal {
  display: none;
  /* Hidden by default */
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 42rem;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  margin-top: 10rem !important;
  border: 1px solid #888;
  width: 420px !important;
  margin: auto;
  /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
}
.modal-content span {
  margin-left: 35rem;
}
.modal-content input:focus {
  outline: none;
}
.modal-content input {
  border: none;
  width: 90%;
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.modal-content i {
  font-size: 2rem;
}
.modal-content p {
  font-family: "Inter", sans-serif;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-content__countries {
  width: 35rem;
  height: 29rem;
  overflow-y: scroll;
  margin: auto;
}
.modal-content__countries .countries {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.modal-content__countries .countries:hover p:first-child {
  color: #5b6dae;
}
.modal-content__countries .countries p:first-child {
  font-size: 14px;
}
.modal-content__countries .countries p:last-child {
  font-size: 10px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  padding: 1px;
}

.allhead__navbar__input {
  position: relative;
}
.allhead__navbar__input input {
  width: 40rem;
  padding: 2.7rem;
  font-size: 1.6rem;
  border: none;
}
.allhead__navbar__input input:focus {
  outline: none;
}
.allhead__navbar__input i {
  font-size: 2.5rem;
  position: absolute;
  right: 9px;
  top: 28px;
}

.allhead__navbar__user {
  font-size: 3rem;
  padding-top: 17px;
  cursor: pointer;
}

.allhead__navbar__basket {
  display: flex;
  align-items: center;
  position: relative;
}
.allhead__navbar__basket span {
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
}
.allhead__navbar__basket i {
  color: red;
  font-size: 1.6rem;
  background-color: rgb(255, 196, 196);
  border-radius: 50%;
  padding: 1rem;
  margin-left: 1rem;
}

.allhead__navbar__basket__item {
  position: absolute;
  text-align: center;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  top: 8rem;
  transition-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 30rem;
  max-width: 32rem;
  right: 0rem;
}
.allhead__navbar__basket__item p {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.allhead__navbar__basket__item h4 {
  font-size: 1.4rem;
  padding: 4rem 0 2rem 0;
}
.allhead__navbar__basket__item img {
  width: 5rem;
  border-radius: 50%;
  padding-top: 4rem;
}

.allhead__navbar__basket__head {
  cursor: pointer;
}

.allhead__navbar__basket__head:hover div {
  opacity: 1;
  visibility: visible;
}

.allhead__navbar__bottom {
  width: 77%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.allhead__navbar__bottom__categories {
  background-color: #2bbef9;
  width: 20rem;
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  color: white;
  border-radius: 25px;
}
.allhead__navbar__bottom__categories i:last-child {
  float: right;
  margin-top: 0.4rem;
}

.allhead__navbar__bottom__pages {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  font-size: 1.5rem;
  padding-top: 1.7rem;
}
.allhead__navbar__bottom__pages p:first-child {
  color: #2bbef9;
}
.allhead__navbar__bottom__pages p:hover {
  color: #2bbef9;
  cursor: pointer;
}

#img2 {
  display: none;
}

.modal__second {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow-y: scroll;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content__second {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
  -webkit-animation-name: animatetop1;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop1;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop1 {
  from {
    margin-left: -300px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes animatetop1 {
  from {
    margin-left: -300px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
.modal-content__second img {
  width: 40%;
}

.allhead__navbar__location1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 1rem auto;
  width: 90%;
  border-color: #d9d9e9;
  padding: 1.8rem;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.allhead__navbar__location1__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.allhead__navbar__location1__left h1 {
  font-size: 1.28rem;
  color: #3e445a;
}
.allhead__navbar__location1__left p {
  font-size: 1rem;
}
.allhead__navbar__location1__right {
  padding: 10px 0;
}

.allhead__navbar__bottom1 {
  width: 100%;
  margin: auto;
}
.allhead__navbar__bottom1__categories1 {
  background-color: #2bbef9;
  width: 100%;
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.allhead__navbar__bottom1__categories1 i:last-child {
  float: right;
  margin-top: 0.4rem;
}

.modal__navbar__categories__show1 {
  font-family: "Roboto", sans-serif;
  display: none;
  transition-duration: 1s;
  opacity: 0.5;
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-top: 2rem;
  row-gap: 2rem;
}
.modal__navbar__categories__show1 p:hover {
  color: #2bbef9;
  cursor: pointer;
}

.site__navigation {
  width: 100%;
  margin: 2rem;
}
.site__navigation a {
  text-decoration: none;
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

.categories__line {
  width: 118%;
  border-bottom: 1px solid rgb(171, 171, 171);
  margin-left: -39px;
}

@media screen and (max-width: 1267px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1208px) {
  .allhead__navbar__location {
    display: none;
  }
  .allhead__navbar {
    margin: 0;
    width: 98%;
    margin: auto;
  }
  .allhead__head {
    display: none;
  }
  .allhead__navbar__input {
    width: 60%;
    margin: auto;
    background-color: #f3f4f7;
    border-radius: 20px;
  }
  .allhead__navbar__input input {
    background-color: #f3f4f7;
    border-radius: 20px;
  }
  .fa-circle-user {
    margin-right: 1rem;
    padding-bottom: 2.7rem;
  }
  #img1 {
    display: none !important;
  }
  #img2 {
    display: block;
  }
  .allhead__navbar__bottom {
    display: none !important;
  }
  .allhead__navbar__bottom__categories__show {
    display: none !important;
  }
  .allhead__navbar__image {
    display: flex;
    flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 3rem;
  }
  .allhead__navbar__image p {
    display: none;
  }
  .allhead__navbar__image #img1 {
    display: none !important;
  }
  .allhead__navbar__image #img2 {
    display: block;
    width: 10rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .allhead__navbar__image i {
    display: block !important;
    margin: 0 2rem 0 0;
    padding-top: 0.5rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 766px) {
  html {
    font-size: 8px;
  }
  .allhead__navbar__input {
    display: none;
  }
  #img2 {
    display: none !important;
  }
  .allhead__navbar__user {
    display: none;
  }
  .allhead__navbar {
    padding-top: 0;
  }
  .allhead__navbar__image {
    align-items: center;
    padding-top: 5px;
  }
  .allhead {
    padding-top: 1rem;
  }
  .tablet__image {
    display: block !important;
  }
}
@media screen and (max-width: 404px) {
  .dolar {
    display: none;
  }
}
.ctg__display {
  display: flex;
  justify-content: space-between;
}
.ctg__display p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  padding-left: 2rem;
}
.ctg__display i {
  margin-top: 1.6rem;
}
.ctg__display:hover {
  color: #2bbef9;
}

.categories__line1 {
  width: 116.5%;
  border-bottom: 1px solid rgb(209, 209, 209);
  margin-left: -39px;
}

.modal__ctg {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
.modal__ctg p {
  margin-top: 1rem;
  padding-left: 2rem;
}
.modal__ctg p:hover {
  color: #2bbef9;
}

.copyright__text {
  width: 100%;
  margin: auto;
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  padding: 5rem 2rem;
}

.language__dropdown__main {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}
.language__dropdown__main i {
  margin-top: 1.6rem;
}
.language__dropdown__main p {
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
}

.language__dropdown__text {
  padding-left: 2rem;
  display: none;
}
.language__dropdown__text p {
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
}

#lan:hover {
  color: #2bbef9;
}

#lantext p:hover {
  color: #2bbef9;
}

.language__dropdown__main1 {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}
.language__dropdown__main1 i {
  margin-top: 1.6rem;
}
.language__dropdown__main1 p {
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
}

.language__dropdown__text1 {
  padding-left: 2rem;
  display: none;
}
.language__dropdown__text1 p {
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
}

#lan1:hover {
  color: #2bbef9;
}

#lantext1 p:hover {
  color: #2bbef9;
}

.tablet__image {
  display: none;
}
.tablet__image img {
  width: 16rem;
}

#categshow {
  font-size: 1.6rem;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(220, 220, 220);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 10rem 2rem 2rem;
  margin-left: 178px;
  margin-top: 20px;
}
#categshow p:hover {
  color: #2bbef9;
  cursor: pointer;
}

#categshowbottom {
  border-top: 1px solid rgb(220, 220, 220);
  padding-top: 20px;
}

.main__carousel {
  width: 56%;
  float: right;
  margin-right: 17rem;
  margin-top: 2rem;
}

.kardisp {
  display: flex;
  justify-content: space-between;
}

.main__section {
  width: 77%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.main__section__poster {
  width: 24%;
}
.main__section img {
  width: 100%;
}

.main__section__rightside {
  width: 73%;
}

.main__section__rightside__head__text h1 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.main__section__rightside__head__text p {
  font-size: 1.2rem;
}

.main__section__rightside__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main__section__rightside__head__icon {
  font-size: 1.6rem;
  border: 1px solid #bebebe;
  color: #ababab;
  border-radius: 2rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

.owl-carousel {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(220, 220, 220);
}

.fa-star {
  color: yellow;
}

.owl-carousel-1 {
  position: relative;
}
.owl-carousel-1 .prodrating {
  padding: 1rem;
  position: absolute;
}
.owl-carousel-1 .prodrating p:first-child {
  font-family: "Dosis", sans-serif;
  color: white;
  background-color: #2bbef9;
  font-size: 1.2rem;
  width: 70%;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  padding: 0.4rem 0;
}
.owl-carousel-1 .prodrating p:last-child {
  font-family: "Dosis", sans-serif;
  color: rgb(87, 131, 1);
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  padding: 0 5px;
  margin: 0;
}
.owl-carousel-1 p {
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
}
.owl-carousel-1 span {
  color: #00b853;
}
.owl-carousel-1 .price {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.owl-carousel-1 .price p:first-child {
  color: grey;
  text-decoration: line-through;
  font-size: 1.5rem;
  align-items: center;
}
.owl-carousel-1 .price p:last-child {
  color: red;
  font-size: 2rem;
  margin-left: 1rem;
  font-family: "Dosis", sans-serif;
  align-items: center;
}
.owl-carousel-1 .addtocart {
  color: #2bbef9;
  background-color: transparent;
  border: 1px solid #2bbef9;
  border-radius: 20px;
  width: 100%;
  padding: 1rem;
  transition-duration: 0.2s;
}
.owl-carousel-1 .addtocart:hover {
  background-color: #2bbef9;
  color: white;
  transition-duration: 0.4s;
}

.owl-prev span {
  font-size: 5rem;
  position: absolute;
  margin-top: -25rem;
  margin-left: -3rem;
}

.owl-next span {
  font-size: 5rem;
  position: absolute;
  margin-top: -25rem;
  margin-left: 85rem;
}

#faiz {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.greystar {
  color: rgb(202, 202, 202);
}

#recommended {
  color: white;
  background-color: #888;
}

.main__section__bottom {
  width: 77%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5rem;
}

.main__section__bottom__poster {
  width: 24%;
}
.main__section__bottom__poster img {
  width: 100%;
}

.prodrating {
  display: flex;
  justify-content: space-between;
}
.prodrating img:hover .iconsonprod {
  opacity: 1;
}
.prodrating .iconsonprod {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.prodrating .iconsonprod span {
  margin-left: 5rem;
  color: black;
  background-color: white;
  padding: 0.8rem 1rem;
  border-radius: 50%;
}

.main__section__bottom__head {
  width: 74%;
}

.main__section__bottom__headposter {
  width: 100%;
}
.main__section__bottom__headposter img {
  width: 100%;
}

.main__section__bottom__headtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__section__bottom__headtext__left p:first-child {
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
  margin: 0;
}
.main__section__bottom__headtext__left p:first-child span {
  color: red;
}
.main__section__bottom__headtext__left p:last-child {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  color: #888;
}
.main__section__bottom__headtext__right {
  margin-top: 3rem;
}

.main__section__bottom__foot {
  width: 100%;
  border: 1px solid red;
  border-radius: 1rem;
}
.main__section__bottom__foot__container {
  padding: 3rem;
  display: flex;
  flex-direction: row;
}
.main__section__bottom__foot__container__right {
  width: 77%;
}
.main__section__bottom__foot__container__right img {
  width: 100%;
}
.main__section__bottom__foot__container__right .timer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}
.main__section__bottom__foot__container__right .timer p {
  background-color: rgb(190, 190, 190);
  padding: 0 0.2rem;
}
.main__section__bottom__foot__container__right p {
  font-size: 2rem;
}
.main__section__bottom__foot__container__right .foot__weight {
  display: flex;
  flex-direction: row;
}
.main__section__bottom__foot__container__right .foot__weight p:first-child {
  font-size: 1rem;
  color: #888;
  padding-right: 2rem;
}
.main__section__bottom__foot__container__right .foot__weight p:last-child {
  font-size: 1rem;
  color: rgb(0, 255, 0);
}
.main__section__bottom__foot__container__right .foot__price {
  display: flex;
  flex-direction: row;
}
.main__section__bottom__foot__container__right .foot__price p:first-child {
  font-family: "Dosis", sans-serif;
  color: grey;
  text-decoration: line-through;
  font-size: 1.5rem;
  padding-top: 0.4rem;
}
.main__section__bottom__foot__container__right .foot__price p:last-child {
  color: red;
  font-size: 2rem;
  margin-left: 1rem;
  font-family: "Dosis", sans-serif;
}
.main__section__bottom__foot__container__left {
  width: 23%;
}
.main__section__bottom__foot__container__left img {
  width: 100%;
}